@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MDS Fulfillment Time Log</h1>
    <p>Record Your Task With The Below Menu.</p>
    <div class="row mt-3">
        <div class="col">

        </div>
        <div class="col">
            
            <div class="input-group mb-3">
                <select class="form-control selectpicker" tabindex="1" name="part" data-live-search="true" required id="UsernameList">
                    <option value="Select Username">Select Username...</option>

                </select>
            </div>
            

            
            <div class="input-group mb-3">
                

                <select class="form-control selectpicker" tabindex="2" name="part" data-live-search="true" required id="AccountMenu">
                    <option value="Select Account">Select Account...</option>

                </select>
            </div>
            <div class="input-group mb-3">
                
                <select class="form-control selectpicker" tabindex="3" name="part" data-live-search="true" required id="TaskMenu">
                    <option value="Select Username">Select Task...</option>

                </select>
            </div>
            <div class="input-group mb-3">
                <button type="button" onclick="StartTask()" tabindex="4" class="btn-lg btn-primary">Start Task</button>

            </div>
            <div class="input-group mb-3">

                <button type="button" onclick="EndDay()" tabindex="5" class="btn-lg btn-secondary">End of Day</button>

            </div>

        </div>
        <div class="col">
            <ul class="list-group" id="TaskList">
                
            </ul>
        </div>
    </div>
    
    



</div>

<script type="text/javascript">
    //will need to pull data from the api here and populate the selects with the actual data
    let dropdownTask = document.getElementById('TaskMenu');
    
    let dropdownAccount = document.getElementById('AccountMenu');
    
    let dropdownUserName = document.getElementById('UsernameList');

    let taskList =  document.getElementById('TaskList')

    axios({
        method: 'get',
        url: '/Home/TimeInterfaceData'
    }).then((response) => {
        try {
            const data = JSON.parse(response.data);
            
            for (let i = 0; i < data.Tasks.length; i++) {
                option = document.createElement('option');
                option.innerHTML = data.Tasks[i].TaskID + " - " + data.Tasks[i].TaskName;
                option.value = data.Tasks[i].TaskID;
                
                dropdownTask.appendChild(option);

                let li = document.createElement("li");
                li.innerHTML = option.text;
                li.classList.add("list-group-item");
                taskList.appendChild(li);
            }

            for (let i = 0; i < data.Accounts.length; i++) {
                option = document.createElement('option');
                option.text = data.Accounts[i].AccountID + " - " + data.Accounts[i].AccountName;
                option.value = data.Accounts[i].AccountID;
             
                dropdownAccount.appendChild(option);
            }

            for (let i = 0; i < data.Users.length; i++) {
                
                let newUser = document.createElement('option');
                newUser.value = data.Users[i].UserID;
                newUser.innerHTML = data.Users[i].UserID + " - " + data.Users[i].UserName;
                dropdownUserName.appendChild(newUser);
            }
        }
        catch (error) {

        }
    })

    function StartTask() {
        //regular
        var task = document.getElementById('TaskMenu');
        var account = document.getElementById('AccountMenu');
        var user = document.getElementById('UserMenu');

        var taskVal = task.value;
        var accVal = account.value;
        var userVal = user.value;

        if (userVal == 0)
        {
            alert('Please Enter User');
            
        }
        else if (accVal == 0)
        {
            alert('Please Enter Account');
        }
        else if (taskVal == 0)
        {
            alert('Please Enter Task');
        }
        else
        {
            axios({
                method: 'put',
                url: '/Home/TimeData',
                params: {
                    account: parseInt(accVal, 10),
                    user: parseInt(userVal, 10),
                    task: parseInt(taskVal, 10)
                }
            });

            alert('Data Submitted!');
            location.reload();
        }
        
    }

    function EndDay() {
        //regular
        var task = document.getElementById('TaskMenu');
        var account = document.getElementById('AccountMenu');
        var user = document.getElementById('UserMenu');

        var taskVal = task.value;
        var accVal = account.value;
        var userVal = user.value;

        if (userVal == 0) {
            alert('Please Enter User');

        }
        
        else {
            axios({
                method: 'put',
                url: '/Home/TimeDataEnd',
                params: {
                    account: parseInt(accVal, 10),
                    user: parseInt(userVal, 10),
                    task: parseInt(taskVal, 10)
                }
            });

            alert('Data Submitted!');
            location.reload();
        }

    }

  
</script>
